.header {
  color: #fff;
  height: 150px;
  background: rgb(47, 73, 73) url(https://pickvisa.com/storage/public/articles/biblioteka-s-cvetnimi-knigami.jpg);
  background-blend-mode: overlay;
  display: flex;
  flex-wrap: wrap;
}
.header__title {
  width: 100%;
  text-align: center;
}
.header__input {
  width: 50%;
  margin-left: auto;
}
.header__search {
  margin-right: auto;
}

.select-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.categories-label {
  margin-left: auto;
  margin-right: 5px;
}

.header__select__categories {
  margin-right: 10px;
}

.sorting-label {
  margin-left: 10px;
  margin-right: 5px;
}

.header__select__sorting {
  margin-right: auto;
}