.container {
  width: 1024px;
  margin: 5px auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.books-counter {
  margin: 5px 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.btn-wrapper {
  width: 100%;
}

.add-more-btn {
  margin: 0 auto;
}