.book-item-wrapper {
  width: 1024px;
  margin: 5px auto;
  border: 1px solid black;
  padding: 10px;
}


.book-item {
  display: flex;
  justify-content: space-between;
}

.book-item__img__wrapper {
  background-color: gray;
  width: 400px;
  height: 400px;
}

.book-item__img {
  display: block;
  width: 200px;
  height: 300px;
  margin: 50px auto;
}

.book-item-description-wrapper {
  border: 1px solid red;
  width: 550px;
  padding: 10px;
}

.book-item__breadcrumbs {
}
.book-item__description {
}