.book-item-wrapper {
  width: 1024px;
  margin: 0 auto;
}


.book-item {
  display: flex;
  justify-content: space-between;
}

.book-item__img__wrapper {
  background-color: #F3F2F1;
  width: 450px;
  height: 450px;
}

.book-item__img {
  display: block;
  width: 200px;
  height: 300px;
  margin: 50px auto;
}

.book-item-description-wrapper {
  width: 500px;
  padding: 40px;
}

.book-item__breadcrumbs {
  text-align: left;
}
.book-item__description {
  text-align: left;
}

.book-item__title {
  text-align: left;
}

.book-item__authors {
  text-align: left;
}

.book-item__description {
  text-align: left;
}

.book-item__button {
  margin: 10px 0;
}